<h1 class="users-head">Accounts in the System</h1>
<table>
  <thead>
    <tr>
      <th class="aa">Active Email</th>
      <th class="type-head">Account Type</th>
    </tr>
  </thead>
  <tbody>
    <% accounts.forEach((accounts) => { %>
      <tr>
        <td><%= accounts.email %></td>
        <td class="type-data"><%= accounts.type %></td>
      </tr>
    <% }); %>
  </tbody>
</table>


