*, ::after, ::before {
    box-sizing: border-box;
}

main {
    background-color: #E5DDCB;
    min-height: 87vh;
    display: flex;
    justify-content: center;
}

.btn-container {
    margin-top: 15rem;
}


#logout {
    background-color: black;
    color: white;
    padding: 0.8rem 5rem;
    width: 400px;
    border-radius: 5px;
    font-weight: bold;
}