<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/title.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <!--FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <!--CSS FILE-->
    <link rel="stylesheet" href="style.css">

    <!--BOOTSTRAP REFERENCE-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--CONFLICT NA NAME KAYA NANDITO HEHE-->
    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }
    </style>

</head>
<body style = "background-color: #E5DDCB;">
    <!--- NAVIGATION BAR --->

        <div class="navbar">
                <p><a href = "/"><img src="img/logo.png" width="460" height="90" ></p></a>
                    <ul>
                        <strong>
                            <a href="/"><li style="color: #af241a;">HOME</li></a>
                            <a href="/fprofile"><li>FITNESS PROFILE</li></a>
                            <a href="/flog"><li>FITNESS LOG</li></a>
                            <a href="/signIn"><li>ACCOUNT</li></a>
                        </strong>
                    </ul>
        </div>



    <!--Main Page Content-->
        <section class="homeSection">

            <h1 class="homepage-title">WELCOME TO THE FITNESS <br> TRACKING SYSTEM!</h1>

            <div class="container">

                <div class="homeAbt">
                    <h2 class="homeAbtTitle">What is the <br> Fitness Tracking System?</h2>
                    <h5 class="homePharagraph">
                        <br>
                        The Fitness Log System lets<br>
                        you keep track of your Daily<br>
                        Food intake and Physical<br>
                        Activites that'll give you awareness of it and enable<br>
                        you to make adjustments in<br>
                        your Diet.
                    </h5>

                    <h5 class="homePharagraph">
                        <br>
                        You may use mobile<br>
                        applications such as My<br>
                        fitness Pal, Google Fit or any<br>
                        app that may help you trac<br>
                        your activities and food intake.
                    </h5>

                </div>

                <div class="logo2Container"><img class="logo2" src="img/logo2.png" alt="Placeholder Image"></div>
                
                
                <div class="homeAbt2">
                    <h2 class="homeAbtTitle">What are the Features <br> of it?</h2>
                    <h5 class="homePharagraph">
                        <br>
                        Keeps a Record of the following:<br>
                    </h5>
                    <h5 style=" text-align: left; margin-left: 5%; font-family: 'Poppins';">
                        
                        - Your Daily Mood based on <br> Sleep <br>
                        - Calorie Intake<br>
                        - Calories Burned<br>
                        - Your Fitness Profile(Weight, <br> BMI, etc..)
                    </h5>
                    <a href="/fprofile"><button type="button" class="btn btn-warning" style="margin-top: -10%; width: 88%; font-family: 'Roboto';"><strong>FITNESS PROFILE</strong></button><br></a>
                    <a href="/flog"><button type="button" class="btn btn-light" style="margin-top: -60%; width: 88%; font-family: 'Roboto'" action="/flog" type="button"><strong>FITNESS LOG</strong></button></a>
                
                </div>

            </div>


        </section>






    <!--BOOTSTRAP REFERENCE-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        //FOR DECODING JWT TOKEN AFTER LOGGING IN
        function parseJwt (token) { 
        var base64Url = token.split('.')[1];
        var base64 = decodeURIComponent(atob(base64Url).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));

    return JSON.parse(base64);
}

let amng = document.getElementById('manage')
amng.style.display="none"
let limng = document.getElementById('mng')

let type = parseJwt(localStorage.getItem("TOKEN")).type
if (type === "Student") {
    amng.style.display="none"

} else if (type === "Admin") {
    amng.style.display="inline"
} else {
    
}
    </script>
</body>
</html>
