<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/title.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <!--CSS FILE-->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="signin.css">

    <!--BOOTSTRAP REFERENCE-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!--- NAVIGATION BAR --->

        <div class="navbar">
                <p><a href = "/"><img src="img/logo.png" width="460" height="90" ></p></a>
                    <ul>
                        <strong>
                            <a href="/"><li>HOME</li></a>
                            <a href="/fprofile"><li>FITNESS PROFILE</li></a>
                            <a href="/flog"><li>FITNESS LOG</li></a>
                            <a href="/signIn"><li style="color: #af241a;">ACCOUNT</li></a>
                        </strong>

                    </ul>
        </div>


    <!--Main Page Content-->
        <main class="bg">
            <form id="reg-form">
            <div class="inputs">
                <input class="input-email" type="text" name="email" id="email" autocomplete="off" placeholder="Email Address" required>
                <input class="input-password" type="password" name="password" id="password" placeholder="Password" required>
            </div>
                <div class="btn-container">
                    <button id="sign-btn">SIGN IN</button>
                </div>
            </form>
        </main>





    <!--BOOTSTRAP REFERENCE-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
            const form = document.getElementById('reg-form')
        form.addEventListener('submit', registerUser)
        

        async function registerUser(event) {
            event.preventDefault()
            const email = document.getElementById('email').value
            const password = document.getElementById('password').value

            const result = await fetch('/signIn', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    password
                })
            }).then((res) => res.json())
            if(result.status === 'ok') {
                alert('Account successfully created')
            }else {
                alert(result.error)
            }
        }
        </script>
</body>
</html>
