<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/title.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!--FONTS-->
    <script src="https://kit.fontawesome.com/adcd56e215.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <!--CSS FILE-->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="signin.css">

    <!--BOOTSTRAP REFERENCE-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>
<body>
    <!--- NAVIGATION BAR --->

        <div class="navbar">
                <p><a href = "/"><img src="img/logo.png" width="460" height="90" ></p></a>
                    <ul>
                        <strong>
                            <a href="/"><li>HOME</li></a>
                            <a href="/fprofile"><li>FITNESS PROFILE</li></a>
                            <a href="/flog"><li>FITNESS LOG</li></a>
                            <a href="/signIn"><li style="color: #af241a;">ACCOUNT</li></a>
                        </strong>

                    </ul>
        </div>


    <!--Main Page Content-->
        <main class="bg">
            <form id="login">
            <div class="inputs">
                <input class="input-email" type="text" name="email" id="email" autocomplete="off" placeholder="Email Address" required>
                <div class="password-container">
                <input class="input-password" type="password" name="password" id="password" placeholder="Password" required>
                <i class="fa-solid fa-eye" id="eye"></i>
            </div>
            </div>
                <div class="btn-container">
                    <button type="submit" id="sign-btn">SIGN IN</button>
                </div>
            
            </form>
            <div id="logout-div">
                <h4 id="account-type-show"></h4>
                <h1 id="full-sentence">Welcome, <span id="email-local-storage">EMAIL</span></h1>
                <button id="logout" onclick="logout()">SIGN OUT</button>
                
                <a href="/adminAcctMgt" class="link"><button id="acct-mgt" style="background-color: #FEC00F; color: black;"> MANAGE ACCOUNTS</button></a>
                <a href="/report" class="link"><button id="report-btn" style="background-color: #FEC00F; color: black;"> GENERATE REPORT</button></a>
                

            </div>
        </main>

        




    <!--BOOTSTRAP REFERENCE-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        //SHOW PASSWORD (EYE ICON)
        const passwordInput = document.querySelector("#password")
        const eye = document.querySelector("#eye")

        eye.addEventListener("click", function(){
        this.classList.toggle("fa-eye-slash")
        const type = passwordInput.getAttribute("type") === "password" ? "text" : "password"
        passwordInput.setAttribute("type", type)
        })

        //SHOW LOGOUT WHEN TOKEN AVAILABLE IN LOCALSTORAGE, ELSE SHOW LOGIN ^_^
        let loginEl = document.getElementById("login")
        let logoutEl = document.getElementById("logout-div")

        if (localStorage.getItem("TOKEN")) {
            loginEl.style.display = "none"
          
        } else {
            logoutEl.style.display = "none"
   
        }   

        
        const form = document.getElementById('login')
        form.addEventListener('submit', login)
        
        let signedIn = false;
        async function login(event) {
            event.preventDefault()
            const email = document.getElementById('email').value
            const password = document.getElementById('password').value

            const result = await fetch('/signIn', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    password
                })
            }).then((res) => res.json())
            if(result.status === 'ok') {
                alert('Successfully logged in')
                location.href="/signIn"
                signedIn = true;
                localStorage.setItem("TOKEN", result.data)
            }else {
                alert(result.error)
            }
        }
       
//JS FOR WHEN SIGNED IN (SHOW LOGOUT BUTTON)
let showEmail = document.getElementById("email-local-storage")
//FOR DECODING JWT TOKEN AFTER LOGGING IN
        function parseJwt (token) { 
        var base64Url = token.split('.')[1];
        var base64 = decodeURIComponent(atob(base64Url).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));

    return JSON.parse(base64);
}

let emailToken = parseJwt(localStorage.getItem("TOKEN")).email
        let fullSentence = document.getElementById("full-sentence")
        let logoutBtn = document.getElementById("logout")
        showEmail.textContent = emailToken;

let accountType = document.getElementById("account-type-show")
let type = parseJwt(localStorage.getItem("TOKEN")).type
accountType.textContent = type + " account"
accountType.style.color = "green"

function logout() {
if (localStorage.getItem("TOKEN")) {
    localStorage.removeItem("TOKEN")
    window.location.href = "/signIn"
    alert("Logged out sucessfully, redirecting to homepage")
} else {
    fullSentence.textContent = "Not logged in"
    showEmail.textContent = " "
}
}

let manageBtn = document.getElementById('acct-mgt')
let reportBtn = document.getElementById('report-btn')

if (type === 'Student') {
    manageBtn.style.display = "none"
    reportBtn.style.display = "none"
} else {

}

        </script>
</body>
</html>
