*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin:  0;
    min-width: 1500px
}

.background {
    background-color:  #E5DDCB;
    min-height: 100vh;
    width: 100%;
    margin: auto;
}

.page-title {
    text-align: center;
}

main {
    padding: 16px;
    width: 90%;
    margin: auto;
    max-width: 3000px;
}

.section-log, .activity-log, .food-log {
    background-color: #2D2427;
    padding: 2rem 1rem;
    margin-bottom: 3rem;
}

.section-log h2, .activity-log h2, .food-log h2 {
    color:#FEC00F;
    text-align: center;
}

#day {
    margin-bottom: 2rem;
    background-color: #782924;
    color: white;
}

li {
    list-style: none
}

.question {
    color: white;
    font-size: 1.3rem;
}

.question-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.feeling {
    text-align: center;
    margin: 5rem 0;
}

.feeling h3 {
    color: white;
    font-size: 1.5rem;
}

.slider {
    width: 40%;
    margin-top: 1rem;
    -webkit-appearance: none;
    margin-right: 15px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#FEC00F, #FEC00F);
    background-size: 100%;
    background-repeat: no-repeat;
}

  
  /* Input Thumb */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FEC00F;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  .slider::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FEC00F;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  .slider::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FEC00F;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  .slider::-webkit-slider-thumb:hover {
    background: #FEC00F;
  }
  
  .slider::-moz-range-thumb:hover {
    background: #FEC00F;
  }
  
  .slider::-ms-thumb:hover {
    background: #FEC00F;
  }
  
  /* Input Track */
  .slider::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .slider::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .slider::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

ul input, ul select {
    width: 300px;
    margin-right: 2rem;
}

.types {
    display: grid;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 150px);
    text-align: center;
    align-items: end;
}

.types-2 {
    display: grid;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 150px);
    text-align: center;
    align-items: end;

}
.activity-log h2, .food-log h2 {
    grid-column: 1/-1;
}

.activity-log h3, .food-log h3 {
    font-size: 1.2rem;
    margin-bottom: 4rem;
    background-color: #782924;
    padding: 0.3rem;
    
}

.activity-log select, .food-log select {
    height: 30px;
}

.activity-log select, .activity-log input, .food-log select, .food-log input {
    width: 200px;
}

.steps {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-column: 1/3;
    grid-row: -1;
}

.steps h4 {
    font-size: 1rem;
    margin-bottom: 0;
    margin-right: 2rem;
    background-color: #FEC00F;
    color: black;
    padding: 0.5rem;
    text-align: center;
}

.total-calories-burned {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-column: 4/6;
    grid-row: -1;
}

.total-calories-burned h4 {
    font-size: 1rem;
    margin-bottom: 0;
    margin-right: 2rem;
    background-color: #FEC00F;
    color: black;
    padding: 0.5rem;
    text-align: center;
}

.add-row {
    align-self: center;
    grid-column: 3/4;
    grid-row: -2;
}

.add-row button {
    background-color: black;
    color: white;
    font-size: 1rem;
    margin: 0;
    width: 150px;
    cursor: pointer;
    margin-bottom: 5rem;
}



.add-row-food {
    justify-content: center;
    text-align: center;
    grid-row: 0;
    align-self: center;
    margin-top: 5rem;
}

.add-row-food button {
    background-color: black;
    color: white;
    font-size: 1rem;
    margin: 0;
    width: 150px;
    cursor: pointer;

}

.overall-total-calories {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
    grid-row: 0;
  
}

.overall-total-calories h4 {
    font-size: 1rem;
    margin-bottom: 0;
    margin-right: 4rem;
    background-color: #FEC00F;
    color: black;
    padding: 0.5rem;
}

.food-time input {
    height: 30px;
}


.save-container {
    text-align: center;
}

.save-record {
    background-color: black;
    color: white;
    padding: 16px 45px;
    border-radius: 10px;
    margin-bottom: 2rem;
    
}

.grade-feedback {
    font-size: 2.5rem;
}

.score {
    font-size: 2rem;
    font-weight: bold;
}

textarea {
    width: 80%;
    background-color: #ECEFF1;

}

.slider-container {
    justify-content: center;
 
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
   
}

.slider-container .slider-food {
   width: 50%;
   margin: auto;

}

.slider-food {
    width: 40%;
    margin-top: 1rem;
    -webkit-appearance: none;
    margin-right: 15px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#FEC00F, #FEC00F);
    background-size: 100%;
    background-repeat: no-repeat;
}

  
  /* Input Thumb */
  .slider-food::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 70%;
    background: #FEC00F;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  .slider-food::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FEC00F;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  .slider-food::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FEC00F;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  .slider-food::-webkit-slider-thumb:hover {
    background: #FEC00F;
  }
  
  .slider-food::-moz-range-thumb:hover {
    background: #FEC00F;
  }
  
  .slider-food::-ms-thumb:hover {
    background: #FEC00F;
  }
  
  /* Input Track */
  .slider-food::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .slider-food::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .slider-food::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }


.answers {
   display: flex;
   justify-content: space-between;
    
}

.flex-row {
    display: flex;
    justify-content: space-around;    
}


.last {
    display: flex;
    justify-content: space-around;
    width: 80%;
    
}

#limitm {
    color: red;
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


#limitfood {
    color: red;
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
}

.two-img img {
    width: 50px;
}

.two-img img:active {
    transform: scale(20);
    position: relative;
    right:  700px;
    top:  200px;
}

.two-img {
    display: flex;
    flex-direction: row;
}

.down {
    position: fixed;
    left: 94.7%;
    top: 18%;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

.down:hover {
    border: 1px dashed black;
    color: black;
}

.down p {
    font-size: 1rem;
    margin: 0;
}

.down-icon {
 height: 250px;   
}

#student-links {
    width: 100%;
    margin: auto;
    background: #782924;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #ECEFF1;
}

#student-links ul {
    font-size: 1.5rem;
}

#student-links li {
    list-style-type:disc;
}

#student-links a {
    color: black;
    text-decoration:none;
    
}

#student-links a:hover {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

#student-links li {
    margin-top: 0.1rem;
    margin-right: 5rem;
    font-weight: bold;
}

.score-inp {
    width: 80px;
    text-align: center;
    margin-right: 1rem;
    font-weight: bold;
}

.feedback-container {
    font-size: 2rem;
    padding: 2rem;
}

.flex-all {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.gradeInp {
    width: 100px;
    text-align: center;
}

.giveBtn {
    background-color: rgb(244, 195, 48);
    outline: none;
    border: none;
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 1rem;
}

.giveBtn:hover {
    background-color: rgb(251, 201, 51);;
}

.half {
    width: 25%;
}
#fitness-log-select {
    font-size: 20px;
    padding: 8px;
    height: 42px;
    background-color: #FEC00F;
    color: #2D2427;
  }

.hidden-goalkcal {
    display: none
}