*, ::after, ::before {
    box-sizing: border-box;
}

.bg {
    background-color: #E5DDCB;
    min-height: 87vh;
    display: flex;
    justify-content: center;

}

form {
    width: 100%;
    margin-top: 15rem;
}

.password-container, .inputs {
    width: 500px;
  position: relative;
  margin: auto;
}

input {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    width: 500px;
    outline: none;
    background-color: #ECEFF1;
    border-bottom-style: groove;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

input:focus {
    border: 3px solid rgb(27, 155, 198);
}

.input-email, .input-password {
   
    margin-bottom: 1rem;
    font-size: 1.2rem;
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
}

.fa-eye{
    position: absolute;
    top: 35%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
  }

.input-password {
    margin-bottom: 2rem;
}

.btn-container {
    text-align: center;
}

#sign-btn {
    border: 0;
    width: 400px;
    background-color: #FEC00F;
    padding: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
}

#logout-div {
    text-align: center;
    margin-top: 15rem;
    
}

#logout, #acct-mgt, #report-btn {
    background-color: black;
    color: white;
    padding: 0.8rem 5rem;
    width: 400px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 2rem;
    display: block;
    margin: auto;
}

#logout {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#acct-mgt {
    background-color: green;
    border: 0px;
    margin-bottom: 1rem;
}

#report-btn {
    background-color: green;
    border: 0;
}

.link {
    text-decoration: none;
}
